.App {
  position: absolute;
  height: 100%;
  width: 100%;

  display: grid;
  place-items: center;
}

button {
  border: 0;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
}

.modal {
  display: grid;
  gap: 1rem;
  padding: 2rem;
  border-radius: 1rem;

  background-color: hsl(0, 0%, 100%);
}
